.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* changes to logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear; /* logo ani */
	width: 200px;
	height: 200px;
	border-radius: 50%;
  }
}

/* changes to header */
.App-header {
  background-color: #282c34; /* background color */
  min-height: 100vh; /* height of page */
  display: flex;
  flex-direction: column; /* direction of objects on page */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); /* font size */
  color: white; /* text color */
}

/* changes to links */
.App-link {
  color: #61dafb; /* color of links */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
